[submodule "kernel/tock"]
    path = signpost/kernel/tock
    url = https://github.com/helena-project/tock
[submodule "apps/support/erpc/erpc"]
    path = signpost/apps/support/erpc/erpc
    url = https://github.com/lab11/erpc
[submodule "apps/support/mbedtls/mbedtls"]
    path = signpost/apps/support/mbedtls/mbedtls
    url = https://github.com/lab11/mbedtls
[submodule "kernel/boards/bootloader/tock-bootloader"]
	path = signpost/kernel/boards/bootloader/tock-bootloader
	url = https://github.com/lab11/tock-bootloader
[submodule "apps/support/mbed/mbed-os"]
    path = signpost/apps/support/mbed/mbed-os
    url = https://github.com/armmbed/mbed-os
[submodule "apps/support/RFExplorer_3GP_IoT_Arduino"]
	path = signpost/apps/support/RFExplorer_3GP_IoT_Arduino
	url = https://github.com/lab11/RFExplorer_3GP_IoT_Arduino.git
[submodule "apps/support/http-parser"]
	path = signpost/apps/support/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "apps/support/kiss_fft"]
	path = signpost/apps/support/kiss_fft
	url = https://github.com/longle2718/kiss_fft
[submodule "apps/support/log2fix"]
	path = signpost/apps/support/log2fix
	url = https://github.com/dmoulding/log2fix
[submodule "apps/support/audio_class"]
	path = signpost/apps/support/audio_class
	url = https://bitbucket.org/longle1/audio_class
